.leftside {
    padding: 0;
    overflow: hidden;
    background-color: #0f4c75;
    height: 100vh;
}

.rightside {
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    height: 100vh;
}

.nav-item > a {
    color: black;
}

.nav-item a:hover {
    color: #3282b8;
    transition: all 300ms ease;
}

.register:hover {
    border-bottom: 1px solid #3282b8;
}

div > h2, div > p {
    color: black;
}

p > a, form a {
    color: #17A2B8;
}

.text-info {
    font-size: smaller;
}

.text-info:hover {
    text-decoration: none;
}

input[type=submit] {
    background-color: #3282b8;
}

input[disabled] {
    cursor: not-allowed;
}

@media (max-width: 575.98px) {
    .leftside {
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .leftside {
        display: none;
    }
}
