.quote-detail {
    background-color: #fff;
    padding: 0;
    font-size: .9em;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-width: 290px;
}

    .quote-detail .quote-detail-info {
        background-color: #fff;
    }
        .quote-detail .quote-detail-info h2 {
            font-size: 1.3em;
            font-weight: 600;
        }

        .quote-detail .quote-detail-info h3 {
            font-size: 1.32em;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 2px;
        }

        .quote-detail .quote-detail-info ul {
            list-style-type: none;
            padding-left: 0;
            font-size: .9em;
            font-weight: 600;
            line-height: 1.1em;
        }

        .quote-detail .quote-detail-info .quote-detail-vehicle-sm {
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 500px;
        }

        .quote-detail .quote-detail-info .quote-detail-application-progress {
            width: 100%;
        }

        .quote-detail .quote-detail-info .content-center {
            padding: 30px 0;
            justify-content: center;
        }

            .quote-detail .quote-detail-info .content-center .img-container {
                width: 80%;
            }
            
            @media(min-width: 768px) {
                .img-container {
                    width: 50%;
                }
            }

    .quote-detail .sub-section {
        padding: 12px 0;
        border-bottom: 2px solid #dadada;
    }

        .quote-detail .sub-section .sub-section-heading {
            font-weight: 700;
        }
        
        @media (min-width: 768px){
            .irs-with-grid {
                width: 50%;
            }
            .quote-detail .sub-section .sub-section-content {
                width: 50%;
            }
        }

    .quote-detail .btn-quote {
        background-color: #1C272D;
        color: white;
        margin: 20px 0;
    }
        