h3 {
    font-size: 1.32em;
    font-weight: 600;
    margin: 20px 0;
}

.application-progress {
    margin: 0;
    max-width: 100%;
}

    .application-progress .overlay {
        position: relative;
    }

        .application-progress .overlay .overlay-inner {
            position: absolute; 
            width: 100%;
        }

            .application-progress .overlay .overlay-inner ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }
                .application-progress .overlay .overlay-inner ul li {
                    flex: 1;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                    .application-progress .overlay .overlay-inner ul li .done {
                        border-color: #1C272D !important;
                        color: #111 !important;
                        cursor: pointer;
                    }

                    .application-progress .overlay .overlay-inner ul li .step {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ccc;
                        width: 24px;
                        height: 24px;
                        margin-left: auto;
                        margin-right: auto;
                        background-color: #fff;
                        color: #ccc
                    }

    .application-progress .marker-container {
        height: 90px;
    }

        .application-progress .marker-container .done-marker {
            height: 1px;
            background-color: #1C272D;
            float: left;
            margin-top: 12px;
        }

        .application-progress .marker-container .todo-marker {
            height: 1px;
            background-color: #ccc;
            float: left;
            margin-top: 12px;
        }

.secondary-border {
    border-color: #1C272D !important;
}
    