@model l2g.Entities.BusinessEntities.ConfirmQuote

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>QuoteDetails</title>
</head>
<body>
    <div>
        <!-- just for testing model -->
        <button type="button" class="btn btn-primary" onclick="showModel()">
            Show Model
        </button>

        <button type="button" class="btn btn-primary" onclick="saveQuote()">
            Save Quote
        </button>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                    </div>
                    <div class="modal-body">
                        Quote Generated
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" href="/Quote/Temp">Go To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function showModel() {
            $('#exampleModal').modal('show');
        }

        function saveQuote() {
            debugger
            var quote = @Html.Raw(Json.Encode(ViewData["quote"]));
            var token = '@ViewData["token"]';
            $.ajax({
                type: 'POST',
                url: 'http://localhost:52778/quote/save',
                headers: { 'Authorization': 'bearer ' + token },
                data: quote,
                success: function (response) {
                    showModel();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
</body>
</html>
