
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid position-relative" style="background-color: #0f4c75; height: 100vh">
        <div class="row align-items-center animated fadeIn" style="height: 100vh;">
            <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3 shadow-lg p-3 mb-5 bg-white rounded text-center">
                <div id="main">
                    <h3>
                        <i class="fa fa-lock" aria-hidden="true" style="color:#0f4c75"></i>
                    </h3>
                    <h2>Forgot password ?</h2>
                    <form id="forgot-password-form">
                        <div class="form-group position-relative">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required email />
                        </div>
                        <div class="form-group d-none" id="error">
                            <small class="text-danger">
                                Email Doesn't registred!
                            </small>
                        </div>
                        <div class="form-group">
                            <div class="from-group">
                                <input type="submit" value="Send Password" class="btn btn-success" id="sendBtn">
                                <div class="btn" id="divLoader" style="display:none;"><img src="~/Content/Images/gif/ajax-loader.gif" alt="Loader" /></div>
                                &nbsp;
                                <a href="/Auth/Login" class="btn btn-secondary" id="backBtn">Go back</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="else" class="d-none">
                    <h3>
                        <i class="fa fa-envelope" aria-hidden="true" style="color:#0f4c75"></i>
                    </h3>
                    <h4>A mail has been sent to your account</h4>
                    <a href="/Auth/Login" class="btn btn-secondary">Go back</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/popper.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //console.log('in');
            $(document).on('submit', '#forgot-password-form', function (form) {
                form.preventDefault();
                const email = form.target.email.value;
                $("#divLoader").show();
                $('#sendBtn').addClass('d-none')
                $('#backBtn').addClass('d-none')
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:52778/api/auth?email=' + email,
                    success: function (success) {
                        $("#divLoader").hide();
                        $('#sendBtn').removeClass('d-none')
                        $('#backBtn').removeClass('d-none')
                        //console.log(success);
                        $('#main').addClass('d-none');
                        $('#else').removeClass('d-none');
                    },
                    error: function (err) {
                        $("#divLoader").hide();
                        $('#sendBtn').removeClass('d-none')
                        $('#backBtn').removeClass('d-none')
                        $('#error').removeClass('d-none');
                        //console.log(err);
                    }
                });
            });
        });
    </script>
</body>
</html>
