
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        input[disabled] {
            cursor: not-allowed;
        }
        d-none{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid position-relative" style="background-color: #0f4c75; height: 100vh">
        <div class="row align-items-center animated fadeIn" style="height: 100vh;">
            <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3 shadow-lg p-3 mb-5 bg-white rounded text-center">
                <div id="main">
                    <h3>
                        <i class="fa fa-lock" size="6x" styles="{color: #0f4c75}" aria-hidden="true"></i>
                    </h3>
                    <h2>Forgot password ?</h2>
                    <!-- <p>you can reset your password here.</p> -->
                    <form id="forgot-password-form">
                        <div class="form-group position-relative">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required email />
                            @*<i class="fa fa-exclamation-circle position-absolute" style="right:7px; top:7px; color:red"></i>*@
                        </div>
                        <div class="form-group">
                            <small class="text-danger">
                                @if (ViewBag.Error != null)
                                {
                                    <span>@ViewBag.Error</span>
                                }
                            </small>
                        </div>
                        <div class="form-group">
                            <div class="from-group">
                                <input type="submit" value="Send Password" class="btn btn-success">
                                &nbsp;
                                <a href="/Auth/Login" class="btn btn-secondary">Go back</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="else" class="d-none">
                    <h3>
                        <i class="fa fa-envelope" size="6x" styles="{color: #0f4c75}" aria-hidden="true"></i>
                    </h3>
                    <h4>A mail has been sent to your account</h4>
                    <a href="/Auth/Login" class="btn btn-secondary">Go back</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('in');
            $(document).on('submit', '#forgot-password-form', function (form) {
                form.preventDefault();
                const email = form.target.email.value;
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:52778/api/auth?email=' + email,
                    success: function (success) {
                        console.log(success);
                        $('#main').addClass('d-none');
                        $('#else').removeClass('d-none');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>
</body>
</html>
